body {
  margin: 0;
  padding: 0;
  
}

#homescreen {
  background-image: url('Images/pageBackground/Screens/Homescreen.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  object-fit: contain;
  display: flex;
}

h1 {
  order: 2;
  width: 930px;
  justify-self: flex-end;
}

h1 img {
  width: 930px;
  height:208px;
  margin-top: -40px;
}

#navbar {
  opacity: 0.5;
  border: rgba(255, 123, 0, 0.63) solid 2px;
  max-width:152px;
  min-width:160px;
  height:20px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.dropdown:hover #navbar{
  opacity: 0.5;
  border: rgba(255, 123, 0, 0.63) solid 3px;
  background-color: rgba(255, 123, 0, 0.63);
  max-width:152px;
  min-width:160px;
  height:20px;
  text-align: center;
  font-weight: bold;
  color: white;

  cursor: pointer;
}

.shortcut {
  width: 60px;
  height: 70px;
  position: relative;
  transition: background-color;
  cursor: pointer;
}


.shortcut::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;
}

.shortcut:hover::after {
  background-color: rgba(132, 182, 247, 0.178);
}

.shortcut img, .shortcutText{
  margin-left:5px;
  width:50px;

}

.shortcutText {
  margin-top: -4px;
  color: rgb(248, 244, 244);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-size: 13px;
}
.dropdown {
  max-width:152px;
  min-width:160px;
  max-height: 24px;
  height: 24px;
  order: 0;
  justify-self: flex-start;
}
.dropdown-content #shortcutmenu{
  position: relative;
  display:none;
  max-width: 152px;
  min-width: 152px;
}


.dropdown:hover .dropdown-content #shortcutmenu{
  display: block;
  position: absolute;
  background-color: #ffffff00;
  max-width: 145px;
  min-width: 143px;
  border: rgba(255, 123, 0, 0.219) solid 1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1613px) {

  #homepage {
    background-image: url('Images/pageBackground/LaptopBackground.jpg');
    background-size: 1920px 929px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    height: 100dvh;
    margin: 0;
    padding: 0;
  }
  
  .screenWrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 49.9%;
    transform: translate(-50%, -50%);
    width: 1092px; /* Adjust based on desired aspect ratio */
    height:590px
  }
  
  #homescreen {
    background-image: url('Images/pageBackground/Screens/Homescreen.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
}

@media screen and (max-width: 1613px) {
  #homepage {
    background-image: url('Images/pageBackground/LaptopBackground.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100dvh;
    margin: 0;
    padding: 0;
  }
  
  .screenWrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45.3%;
    left: 49.9%;
    transform: translate(-50%, -50%);
    width: 923px; /* Adjust based on desired aspect ratio */
    height: 580px; /* Adjust based on desired aspect ratio */
  }
  
  #homescreen {
    background-image: url('Images/pageBackground/Screens/Homescreen.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}